body{
    background-color: rgb(255, 255, 255);
}

.ticket{
    background-color: rgb(31, 30, 30);
    height: 55vh;
    margin-bottom: 1vh;

}
.download{
    display: flex;
    justify-content: center;
}

h3{
    text-align: center;
    font-size: 1.5vw;
}

.texts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#wow{
    width: 50vw;
}

.name{
    font-size: 1vw;
}

.ltgt{
    width: 5vw;
}

span{
    text-align: center;
}
#heading{
    color: #f4af1b;
    font-size: 1.5vw;
}
#description{
    color: #56DA9A;
    font-size: 1.2vw;
}
.middle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 55vh;
}
.qr-code{
    width: 15vw;
    height: 15vw;
}
.qr{
    width: 18vw;
    height: 18vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.yellow{
    display: none;
    width: 0.7vw;
    height: 55vh;
    background-image: linear-gradient(transparent, #f4af1b 40%);
    margin-right: 0.5vw;
}
.green{
    display: none;

    width: 0.7vw;
    height: 55vh;
    background-image: linear-gradient(#24e186 40% ,transparent);
    margin-left: 0.5vw;
}
.red{
    display: none;

    width: 50vw;
    height: 0.7vw;
    background-image: linear-gradient(to left, #e12424 60%,transparent);
    position: absolute;
    margin-bottom: 20vw;
    margin-left: 49vw;
}
.blue{
    display: none;

    width: 50vw;
    height: 0.7vw;
    background-image: linear-gradient(to left, blue, transparent);
    margin-left: 0.5vw;
    position: absolute;
    margin-top: 20vw;
    margin-left: 49vw;
}
.right{
    display: flex;
    align-items: center;
}
.ticket-ID{
    position: absolute;
    margin-bottom: 45vh;
    color: rgb(255, 255, 255);
    margin-left: 5.3vw;
    font-size: 1vw;
}
.ticketID{
    color: #f4af1b;
}


button{
    background-color: transparent;
    color: black;
    border: 2px solid rgb(31, 30, 30);
    border-radius: 5px;
    padding: 5px;
}

button:hover{
    background-color: rgb(31, 30, 30);
    color: rgba(255, 255, 255, 0.563);
    border: 2px solid rgb(31, 30, 30);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
button:active{
    background-color: transparent;
    color: black;
    border: 2px solid rgb(31, 30, 30);
    border-radius: 5px;
    padding: 5px;
}