@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
}
.forms{
    background-color: #292D33;
    height: 100vh;
    color: white;
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
}
.header{
    display: flex;
    flex-direction: column;
}
.header1{
    display: flex;
    justify-content:center;
    height: 10vh;
}
.header2{
    display: flex;
    justify-content: center;
    height: 8vh;
    margin-left: 3vw;
}
.gdsc_logo{
    display: flex;
    align-items:end;
    margin-bottom: 1.38vw;
    margin-right: 0.658vw;
    
}
.image{
    display: none;
    width: 60vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: rgba(0, 128, 255, 0.395);
}

.b{
    background-image: url(logo.png);
    background-size: 90vw;
    background-position: center;
    background-blend-mode:hard-light;
    background-repeat: no-repeat;
    /* filter: blur(2px); */
}
.forms form{
    /* margin-left: 2.5vw;
    margin-right: 2.5vw; */
    border-radius: 2vw;
    background-color: rgba(85, 85, 95, 0.59);
    backdrop-filter: blur(2px);
    /* background-image: url(logo.png);
    background-size: 90vw;
    background-position: center;
    background-blend-mode:darken;
    background-repeat: no-repeat; */
    height: 75vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3vw;
}
.gdsc-text{
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}
h2{
    font-size: 4.6vw;
}
h3{
    font-size: 3.35vw;
}
label{
    font-size: 3.5vw;
}

.f-name, .l-name, .number, .email, .college{
    width: 40vw;
    height: 4vh;
    border-radius: 100vw;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    background-color: #292d3363;
    color: white;
    font-size: 2.5vw;
}
.branch{
    width: 43.3vw;
    padding: 5px;
    border-radius: 17px;
    text-align: center;
    background-color: #292d3363;
    color: white;
    font-size:2.5vw;
}
.question{
    color: white;
    font-size:1.185vw;
    margin-right: 10vw;

}
input[type='radio']:after {
    width: 11px;
    height: 11px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #292d3363;
    content: '';
    display: inline-block;
    visibility: visible;
}

input[type='radio']:checked:after {
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position:static;
    background-color: #292727;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid grey;
}


.addr{
    border-radius: 20px;
    width: 42vw;
    height: 8vh;
    background-color: #292d3363;
    color: white;
    padding: 1.658vw;
    font-size: 2.5vw;
}
.upload, .verify, .submit{
    width: 25vw;
    height: 4vh;
    border:1px solid black;
    border-radius: 10vw;
    padding-left: 0.658vw;
    padding-right: 0.658vw;
    background-color: #292d3363;
    color: rgb(231, 225, 225);
    font-size: 2.5vw;
}
.verify{
    margin-left: 50vw;
}
button:hover{
    background-color: #292d33e3;
    color: #c2bfbf;
    cursor: pointer;
    font-style: italic;
}

.upload{
    margin-left: 40vw;
}
.submit-btn{
    display: flex;
    justify-content: center;
}

.terms{
    display: flex;
    justify-content: center;
}
.tnc{
    accent-color: #292d3363;
}

.display{
    display: flex;
    justify-content: space-between;
}

.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.192);
    /* opacity: 1; */
    /* visibility: hidden; */
    display: none;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.4s 0s, transform 1s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    height:43%;max-width: 70%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    background-color:#292D33; 
    padding: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.781),0 6px 20px 0 rgba(0,0,0,0.19);
    overflow: hidden;
    /* -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s; */

}   

.myBox{background-color: rgba(233,233,233,0.44); height: 60% ; width: 90%; border-radius: 10px; padding: 10px; font-size: 100%;resize:none;cursor:pointer;}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border: 1px solid rgba(184, 183, 183, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(36, 36, 36);  
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666666;  
}
.done{background:rgba(233,233,233,0.44);border-radius: 17px;font-size: 15px; min-width:22vw; height: 4vh; border:0px;}
.done:hover{background: rgba(189, 189, 189, 0.705);}

.show-modal{
    opacity: 1;
    display: block;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.em,.ph{
    width: 80px;
    height: 3.5vh;
    border-radius: 17px;
    padding-left:1.2vw ;
    padding-right: 1.2vw;
    background-color: #292d3363;
    color: white;
    font-size: 100%;
}
.P, .E{
    color:white ;
    font-size:16px;
}

.verify2{background:rgba(233,233,233,0.44);border-radius: 17px;font-size:12px; min-width: 22vw; height: 4vh; border:0px; }
.verify2:hover{background: rgba(189, 189, 189, 0.705);}
.modal2{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.192);
    /* opacity: 1; */
    /* visibility: hidden; */
    display: none;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.4s 0s, transform 1s;
}
.modal-content2{
    position: absolute;
    top: 30%;
    left:15%;
    max-height:60%;
    max-width: 60%;
    /* transform: translate(0%, 0%); */
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    background-color:#292D33; 
    padding: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.781),0 6px 20px 0 rgba(0,0,0,0.19);

}   