{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'receipt.css'%}">
    
</head>
<body>
    <div id="main_box">
        <div class="container">
            <div class="content">
                <img id="logo" src="{% static 'gdsclogo1.png' %}" alt="logo" >
                <div class="msg">
                    <h1 id="greetings">Thank you for registering.</h1>
                    <div id="text">
                        <div>Name: <span class="name">{{fullname}}</span></div>
                        <div>Transaction Id: <span class="transaction">{{payment_id}}</span></div>
                        <div>Status: <span class="status">{{status}}</span></div>
                    </div>
                    <div>Your Pass will be mailed to you within 12 hours .</div>
                    <div>Contact us Otherwise : GDSC MAIL HERE</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock content %}
